* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  font-family: sans-serif;
}

img {
  border-radius: 50%;
  width: 320px;
  height: 320px;
  margin-top: 10px;
  border: solid 2px rgb(190, 183, 183);
}
img:hover {
  border: solid 2px rgb(204, 8, 8);
}
h1 {
  color: white;
  margin-top: 31px;
  margin-bottom: 8px;
}

p {
  color: white;
}

ul {
  margin-top: 35px;
}

li {
  margin-bottom: 18px;
  list-style: none;
}

a {
  background-color: rgb(112, 34, 34);
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
a:hover {
  background-color: white;
  color: rgb(49, 2, 2);
  border: solid 2px rgb(204, 8, 8);
}

.container {
  width: 320px;
  text-align: center;
  margin-top: 41px;
  margin-left: auto;
  margin: auto;
}

footer {
  color: white;
  margin-bottom: 10px;
}
